.img1{
    width: 20rem;
    height: 20rem;
    background-color: red;
}

.img2{
    width: 20rem;
    height: 20rem;
    background-color: green;
}

.img3{
    width: 20rem;
    height: 20rem;
    background-color: blue;
}